:root {
  --card-width: 300px;
}

* {
  box-sizing: border-box;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--card-width);
  border: 1px solid red;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
}

.userCardHeader {
  width: 100%;
  height: calc(var(--card-width) / 2);
  background: orange
    url(https://images.pexels.com/photos/634548/pexels-photo-634548.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.userPhoto {
  width: calc(var(--card-width) / 2);
  height: calc(var(--card-width) / 2);
  margin-top: calc(var(--card-width) / -4);
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.userName,
.userTagLink,
.userInfo {
  padding: 10px;
}

.socials {
  display: flex;
  padding: 10px;
}

.socialsItem {
  font-size: 20px;
}

.socialsItem + .socialsItem {
  margin-left: 20px;
  color: aqua;
}

a {
  text-decoration: none;
  color: inherit;
}

.facebook {
  color: #537bbf;
}

.twitter {
  color: #68cdee;
}

.linkedin {
  color: #1f85b9;
}
